src/main/resources/META-INF/wsdl/operation/OperationSvc-XSD6.xsd

<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts"
	xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
	<xs:import
		schemaLocation="OperationSvc-XSD0.xsd"
		namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
	<xs:complexType name="SimpleError">
		<xs:sequence>
			<xs:element minOccurs="0" name="CorrelationId" type="ser:guid" />
			<xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Description" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="InternalDescription"
				nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SimpleError" nillable="true" type="tns:SimpleError" />
</xs:schema>