src/main/resources/META-INF/wsdl/operation/OperationSvc-XSD1.xsd

<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data">
	<xs:import
		schemaLocation="OperationSvc-XSD2.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
	<xs:import
		schemaLocation="OperationSvc-XSD4.xsd"
		namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<xs:complexType name="UserToken">
		<xs:sequence>
			<xs:element minOccurs="0" name="Status" type="q1:eTokenStatus"
				xmlns:q1="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element minOccurs="0" name="Token" nillable="true"
				type="xs:base64Binary" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UserToken" nillable="true" type="tns:UserToken" />
	<xs:complexType name="AutomatedRefills">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="AutomatedRefill"
				nillable="true" type="tns:AutomatedRefill" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutomatedRefills" nillable="true"
		type="tns:AutomatedRefills" />
	<xs:complexType name="AutomatedRefill">
		<xs:sequence>
			<xs:element name="OperationalEvent" nillable="true"
				type="tns:OperationalEvent" />
			<xs:element name="OriginalPrescriptionsOID" nillable="true"
				type="q2:ArrayOfstring" xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
			<xs:element name="Request" nillable="true" type="tns:Request" />
			<xs:element minOccurs="0" name="RxPrescriptions" nillable="true"
				type="tns:RxPrescriptions" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutomatedRefill" nillable="true"
		type="tns:AutomatedRefill" />
	<xs:complexType name="OperationalEvent">
		<xs:sequence>
			<xs:element name="CreatedDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="EventStart" type="xs:dateTime" />
			<xs:element minOccurs="0" name="LastOperation" nillable="true"
				type="xs:dateTime" />
			<xs:element minOccurs="0" name="Message" nillable="true"
				type="xs:string" />
			<xs:element name="NextOperation" type="xs:dateTime" />
			<xs:element minOccurs="0" name="OID" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="OperationalEventState"
				type="q3:eOperationalEventState" xmlns:q3="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element name="Recurrence" type="xs:long" />
			<xs:element name="RecurrenceType" type="q4:eRecurrenceType"
				xmlns:q4="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element minOccurs="0" name="CommunicationLanguage"
				nillable="true" type="tns:AccountPreference.eLanguagesSupported" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OperationalEvent" nillable="true"
		type="tns:OperationalEvent" />
	<xs:simpleType name="AccountPreference.eLanguagesSupported">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Francais" />
			<xs:enumeration value="English" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AccountPreference.eLanguagesSupported"
		nillable="true" type="tns:AccountPreference.eLanguagesSupported" />
	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="Comments" nillable="true" type="xs:string" />
			<xs:element name="Delivery" nillable="true" type="tns:RequestDelivery" />
			<xs:element name="EMail" nillable="true" type="xs:string" />
			<xs:element name="LastState" type="q5:eRequestState"
				xmlns:q5="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element name="LastStateDate" type="xs:dateTime" />
			<xs:element name="MedReleaseMode" type="q6:eMedReleaseMode"
				xmlns:q6="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element minOccurs="0" name="OID" nillable="true" type="xs:string" />
			<xs:element name="PharmacyContractNumber" nillable="true"
				type="xs:string" />
			<xs:element name="ReleaseDate" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Phone" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="MobilePhoneNumber"
				nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Request" nillable="true" type="tns:Request" />
	<xs:complexType name="RequestDelivery">
		<xs:sequence>
			<xs:element name="Address" nillable="true" type="xs:string" />
			<xs:element name="City" nillable="true" type="xs:string" />
			<xs:element name="Fax" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="Phone" nillable="true"
				type="xs:string" />
			<xs:element name="PostalCode" nillable="true" type="xs:string" />
			<xs:element name="Province" type="q7:eProvince"
				xmlns:q7="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequestDelivery" nillable="true"
		type="tns:RequestDelivery" />
	<xs:complexType name="RxPrescriptions">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RxPrescription"
				nillable="true" type="tns:RxPrescription" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RxPrescriptions" nillable="true"
		type="tns:RxPrescriptions" />
	<xs:complexType name="RxPrescription">
		<xs:sequence>
			<xs:element name="Aborted" type="xs:boolean" />
			<xs:element name="Comments" nillable="true" type="xs:string" />
			<xs:element name="DaysSupply" type="xs:short" />
			<xs:element minOccurs="0" name="ExpirationDate" type="xs:int" />
			<xs:element name="LastState" type="q8:eRxPrescriptionState"
				xmlns:q8="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element name="LastStateDate" type="xs:dateTime" />
			<xs:element name="Narcotic" type="xs:boolean" />
			<xs:element name="OID" nillable="true" type="xs:string" />
			<xs:element name="PRN" type="xs:boolean" />
			<xs:element name="ProductDin" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="ProductForm" nillable="true"
				type="xs:string" />
			<xs:element name="ProductName" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="ProductStrength" nillable="true"
				type="xs:string" />
			<xs:element name="QuantityFilled" type="xs:int" />
			<xs:element name="QuantityPrescribed" type="xs:int" />
			<xs:element name="Repeats" type="xs:short" />
			<xs:element minOccurs="0" name="RxDate" type="xs:int" />
			<xs:element name="RxNewPrescription" nillable="true"
				type="tns:RxPrescription" />
			<xs:element name="RxNumber" nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="SigDecoded" nillable="true"
				type="xs:string" />
			<xs:element name="Total" type="xs:int" />
			<xs:element name="TrxNumber" type="xs:long" />
			<xs:element minOccurs="0" name="RxDateV2" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ExpirationDateV2"
				nillable="true" type="xs:dateTime">
				<xs:annotation>
					<xs:appinfo>
						<DefaultValue EmitDefaultValue="false"
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Restrictions" nillable="true"
				type="tns:PrescriptionRestrictions" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RxPrescription" nillable="true"
		type="tns:RxPrescription" />
	<xs:complexType name="PrescriptionRestrictions">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="PrescriptionRestriction" nillable="true"
				type="tns:PrescriptionRestriction" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescriptionRestrictions" nillable="true"
		type="tns:PrescriptionRestrictions" />
	<xs:complexType name="PrescriptionRestriction">
		<xs:sequence>
			<xs:element name="Type" type="q9:eRestriction"
				xmlns:q9="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
			<xs:element name="RefillAllowed" type="xs:boolean" />
			<xs:element name="RequireETA" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescriptionRestriction" nillable="true"
		type="tns:PrescriptionRestriction" />
	<xs:complexType name="RxNewRequest">
		<xs:complexContent mixed="false">
			<xs:extension base="tns:Request">
				<xs:sequence>
					<xs:element name="PatientDefaultPharmacy" type="xs:short" />
					<xs:element name="Prescriptions" nillable="true"
						type="tns:RxRenewPrescriptions" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RxNewRequest" nillable="true" type="tns:RxNewRequest" />
	<xs:complexType name="RxRenewPrescriptions">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RxRenewPrescription"
				nillable="true" type="tns:RxRenewPrescription" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RxRenewPrescriptions" nillable="true"
		type="tns:RxRenewPrescriptions" />
	<xs:complexType name="RxRenewPrescription">
		<xs:sequence>
			<xs:element name="Comments" nillable="true" type="xs:string" />
			<xs:element name="OID" nillable="true" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RxRenewPrescription" nillable="true"
		type="tns:RxRenewPrescription" />
	<xs:complexType name="MedReleaseMode">
		<xs:sequence>
			<xs:element minOccurs="0" name="Mode" type="q10:eMedReleaseMode"
				xmlns:q10="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MedReleaseMode" nillable="true"
		type="tns:MedReleaseMode" />
	<xs:complexType name="AutomatedRefillCalendars">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="AutomatedRefillCalendar" nillable="true"
				type="tns:AutomatedRefillCalendar" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutomatedRefillCalendars" nillable="true"
		type="tns:AutomatedRefillCalendars" />
	<xs:complexType name="AutomatedRefillCalendar">
		<xs:sequence>
			<xs:element name="ExpectedEvents" nillable="true"
				type="tns:ArrayOfExpectedEvent" />
			<xs:element name="OriginalPrescriptionOID" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AutomatedRefillCalendar" nillable="true"
		type="tns:AutomatedRefillCalendar" />
	<xs:complexType name="ArrayOfExpectedEvent">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="ExpectedEvent"
				nillable="true" type="tns:ExpectedEvent" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArrayOfExpectedEvent" nillable="true"
		type="tns:ArrayOfExpectedEvent" />
	<xs:complexType name="ExpectedEvent">
		<xs:sequence>
			<xs:element minOccurs="0" name="Date" type="xs:dateTime" />
			<xs:element minOccurs="0" name="Type" type="q11:eOperationalEventType"
				xmlns:q11="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ExpectedEvent" nillable="true"
		type="tns:ExpectedEvent" />
	<xs:complexType name="RefillReminders">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="RefillReminder"
				nillable="true" type="tns:RefillReminder" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RefillReminders" nillable="true"
		type="tns:RefillReminders" />
	<xs:complexType name="RefillReminder">
		<xs:sequence>
			<xs:element name="BufferTimehours" type="xs:int" />
			<xs:element name="OperationalEvent" nillable="true"
				type="tns:OperationalEvent" />
			<xs:element name="OriginalPrescriptionOID" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="MobilePhoneNumber"
				nillable="true" type="xs:string" />
			<xs:element minOccurs="0" name="Email" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RefillReminder" nillable="true"
		type="tns:RefillReminder" />
	<xs:complexType name="RefillReminderCalendars">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded"
				name="RefillReminderCalendar" nillable="true" type="tns:RefillReminderCalendar" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RefillReminderCalendars" nillable="true"
		type="tns:RefillReminderCalendars" />
	<xs:complexType name="RefillReminderCalendar">
		<xs:sequence>
			<xs:element name="ExpectedEvents" nillable="true"
				type="tns:ArrayOfExpectedEvent" />
			<xs:element name="OriginalPrescriptionOID" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RefillReminderCalendar" nillable="true"
		type="tns:RefillReminderCalendar" />
</xs:schema>