src/main/resources/META-INF/wsdl/operation/OperationSvc.wsdl

<wsdl:definitions name="OperationService"
	targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.RxAssyst.com/Operation/2012/08"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsdl:import namespace="http://www.RxAssyst.com/Operation/2012/08"
		location="OperationSvc-WSDL0.wsdl" />
	<wsdl:types />
	<wsdl:binding name="RxAssystOperationEndPoint" type="i0:IOperationSvc">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetAutomatedRefillsByPatientOID">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetAutomatedRefillsByPatientOID"
				style="document" />
			<wsdl:input name="GetAutomatedRefillsByPatientOidRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetAutomatedRefillsByPatientOIDResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetAutomatedRefillByOID">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetAutomatedRefillByOID"
				style="document" />
			<wsdl:input name="GetAutomatedRefillByOIDRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetAutomatedRefillByOIDResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddAutomatedRefill">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/AddAutomatedRefill"
				style="document" />
			<wsdl:input name="AddAutomatedRefillRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AddAutomatedRefillResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateAutomatedRefill">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/UpdateAutomatedRefill"
				style="document" />
			<wsdl:input name="UpdateAutomatedRefillRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UpdateAutomatedRefillResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteAutomatedRefill">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/DeleteAutomatedRefill"
				style="document" />
			<wsdl:input name="DeleteAutomatedRefillRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DeleteAutomatedRefillResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetExpectedAutomatedRefill">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetExpectedAutomatedRefill"
				style="document" />
			<wsdl:input name="GetExpectedAutomatedRefillRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetExpectedAutomatedRefillResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRefillRemindersByPatientOID">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetRefillRemindersByPatientOID"
				style="document" />
			<wsdl:input name="GetRefillRemindersByPatientOIDRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetRefillRemindersByPatientOIDResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetRefillReminderByOID">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetRefillReminderByOID"
				style="document" />
			<wsdl:input name="GetRefillReminderByOIDRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetRefillReminderByOIDResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddRefillReminder">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/AddRefillReminder"
				style="document" />
			<wsdl:input name="AddRefillReminderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AddRefillReminderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="UpdateRefillReminder">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/UpdateRefillReminder"
				style="document" />
			<wsdl:input name="UpdateRefillReminderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UpdateRefillReminderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DeleteRefillReminder">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/DeleteRefillReminder"
				style="document" />
			<wsdl:input name="DeleteRefillReminderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="DeleteRefillReminderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetExpectedRefillReminder">
			<soap:operation
				soapAction="http://www.RxAssyst.com/Operation/2012/08/IOperationSvc/GetExpectedRefillReminder"
				style="document" />
			<wsdl:input name="GetExpectedRefillReminderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetExpectedRefillReminderResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ErrorFault">
				<soap:fault name="ErrorFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OperationService">
		<wsdl:port name="RxAssystOperationEndPoint" binding="tns:RxAssystOperationEndPoint">
			<soap:address
				location="abc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>