src/main/resources/META-INF/wsdl/advisorSheet/AdvisorSheetSvc-XSD4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Error"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Error">
	<xs:import
		schemaLocation="AdvisorSheetSvc-XSD2.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
	<xs:import
		schemaLocation="AdvisorSheetSvc-XSD1.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data" />
	<xs:import
		schemaLocation="AdvisorSheetSvc-XSD5.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts" />
	<xs:complexType name="Error">
		<xs:complexContent mixed="false">
			<xs:extension base="q1:SimpleError"
				xmlns:q1="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts">
				<xs:sequence>
					<xs:element minOccurs="0" name="Type" type="q2:ErrorCodes"
						xmlns:q2="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
					<xs:element minOccurs="0" name="UserToken" nillable="true"
						type="q3:UserToken"
						xmlns:q3="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>