src/main/resources/META-INF/wsdl/consent/ConsentSvc-XSD3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/" elementFormDefault="qualified"
	targetNamespace="http://tempuri.org/">
	<xs:import
		schemaLocation="ConsentSvc-XSD1.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data" />
	<xs:import
		schemaLocation="ConsentSvc-XSD6.xsd"
		namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<xs:import
		schemaLocation="ConsentSvc-XSD2.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
	<xs:element
		xmlns:q1="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
		name="UserToken" nillable="true" type="q1:UserToken" />
	<xs:element
		xmlns:q2="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
		name="Consents" nillable="true" type="q2:ConsentStatuses" />
	<xs:element
		xmlns:q3="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
		name="ConsentCode" nillable="true" type="q3:ConsentCode" />
	<xs:element
		xmlns:q4="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
		name="Consent" nillable="true" type="q4:Consent" />
	<xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
		name="ConsentIds" nillable="true" type="q5:ArrayOfint" />
	<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes"
		name="ProfileReplication" type="q6:eProfileReplicationOperation" />
	<xs:element
		xmlns:q7="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
		name="ReasonCode" nillable="true" type="q7:ReasonCode" />
</xs:schema>