src/main/resources/META-INF/wsdl/requestPrescription/RequestPrescriptionSvc-XSD2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes">
	<xs:import
		schemaLocation="RequestPrescriptionSvc-XSD0.xsd"
		namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
	<xs:simpleType name="eTokenStatus">
		<xs:annotation>
			<xs:appinfo>
				<ActualType Name="byte" Namespace="http://www.w3.org/2001/XMLSchema"
					xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
			</xs:appinfo>
		</xs:annotation>
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Ok">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eMustConsent">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eMustChangePassword">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eMustGivePasswordReminder">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eExpired">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eTemporaryPasswordExpired">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="eUnsubscribingState">
						<xs:annotation>
							<xs:appinfo>
								<EnumerationValue
									xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
							</xs:appinfo>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:element name="eTokenStatus" nillable="true" type="tns:eTokenStatus" />
	<xs:simpleType name="eProvince">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="Alberta" />
			<xs:enumeration value="BritishColumbia" />
			<xs:enumeration value="Manitoba" />
			<xs:enumeration value="NewBrunswick" />
			<xs:enumeration value="Newfoundland" />
			<xs:enumeration value="NovaScotia" />
			<xs:enumeration value="Nunavut" />
			<xs:enumeration value="NorthWestTerritories" />
			<xs:enumeration value="Ontario" />
			<xs:enumeration value="PrinceEdwardIsland" />
			<xs:enumeration value="Quebec" />
			<xs:enumeration value="Saskatchewan" />
			<xs:enumeration value="Yukon" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eProvince" nillable="true" type="tns:eProvince" />
	<xs:simpleType name="eRequestState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pending" />
			<xs:enumeration value="Received" />
			<xs:enumeration value="Completed" />
			<xs:enumeration value="All" />
			<xs:enumeration value="AutomatedRefill" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eRequestState" nillable="true"
		type="tns:eRequestState" />
	<xs:simpleType name="eMedReleaseMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pickup" />
			<xs:enumeration value="Delivery" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eMedReleaseMode" nillable="true"
		type="tns:eMedReleaseMode" />
	<xs:simpleType name="ErrorCodes">
		<xs:list>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="eInvalidUserPassword" />
					<xs:enumeration value="eAccessDenied" />
					<xs:enumeration value="eInvalidArguments" />
					<xs:enumeration value="eSessionExpired" />
					<xs:enumeration value="eMaxSessionsReached" />
					<xs:enumeration value="eAccountLocked" />
					<xs:enumeration value="eUnknown" />
					<xs:enumeration value="eTokenExpired" />
					<xs:enumeration value="eAccountDeactivated" />
					<xs:enumeration value="eNoCounsellingSheetForDin" />
					<xs:enumeration value="eInvalidOperation" />
					<xs:enumeration value="eCannotUnassign" />
				</xs:restriction>
			</xs:simpleType>
		</xs:list>
	</xs:simpleType>
	<xs:element name="ErrorCodes" nillable="true" type="tns:ErrorCodes" />
	<xs:simpleType name="eGender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="Male" />
			<xs:enumeration value="Female" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eGender" nillable="true" type="tns:eGender" />
	<xs:simpleType name="eLanguage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown" />
			<xs:enumeration value="French" />
			<xs:enumeration value="English" />
			<xs:enumeration value="Italian" />
			<xs:enumeration value="Spanish" />
			<xs:enumeration value="Vietnamese" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eLanguage" nillable="true" type="tns:eLanguage" />
	<xs:simpleType name="eRxPrescriptionState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pending" />
			<xs:enumeration value="Received" />
			<xs:enumeration value="Accepted" />
			<xs:enumeration value="Declined" />
			<xs:enumeration value="AcceptedWithoutInfo" />
			<xs:enumeration value="None" />
			<xs:enumeration value="ReceivedETARequired" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eRxPrescriptionState" nillable="true"
		type="tns:eRxPrescriptionState" />
	<xs:simpleType name="eRestriction">
		<xs:annotation>
			<xs:appinfo>
				<ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema"
					xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Expired" />
			<xs:enumeration value="NoRefill" />
			<xs:enumeration value="EarlyRefill" />
			<xs:enumeration value="Narcotic" />
			<xs:enumeration value="Controlled" />
			<xs:enumeration value="FilteredOut" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eRestriction" nillable="true" type="tns:eRestriction" />
	<xs:simpleType name="eUnsubscribeReason">
		<xs:annotation>
			<xs:appinfo>
				<ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema"
					xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AccountNeverActivated" />
			<xs:enumeration value="InactiveAccount" />
			<xs:enumeration value="ConsentExpired" />
			<xs:enumeration value="MoveToAnotherLocation" />
			<xs:enumeration value="MoveToAnotherPharmacy" />
			<xs:enumeration value="FindWebsiteDifficultToUse" />
			<xs:enumeration value="FindTheServiceUnreliable" />
			<xs:enumeration value="FindTheWebsiteToBeInflexible" />
			<xs:enumeration value="DoNotLikeThisService" />
			<xs:enumeration value="Other">
				<xs:annotation>
					<xs:appinfo>
						<EnumerationValue
							xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1000</EnumerationValue>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eUnsubscribeReason" nillable="true"
		type="tns:eUnsubscribeReason" />
	<xs:simpleType name="eProfileReplicationOperation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="StopReplication" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eProfileReplicationOperation" nillable="true"
		type="tns:eProfileReplicationOperation" />
	<xs:simpleType name="eUnsubscribeRequestState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pending" />
			<xs:enumeration value="Received" />
			<xs:enumeration value="Accept" />
			<xs:enumeration value="Decline" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="eUnsubscribeRequestState" nillable="true"
		type="tns:eUnsubscribeRequestState" />
</xs:schema>