src/main/resources/META-INF/wsdl/profile/ProfileSvc-XSD5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Error"
	elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Error">
	<xs:import schemaLocation="ProfileSvc-XSD2.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes" />
	<xs:import schemaLocation="ProfileSvc-XSD1.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data" />
	<xs:import schemaLocation="ProfileSvc-XSD6.xsd"
		namespace="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts" />
	<xs:complexType name="Error">
		<xs:complexContent mixed="false">
			<xs:extension
				xmlns:q1="http://schemas.datacontract.org/2004/07/RxAssystLoggerLib.Contracts"
				base="q1:SimpleError">
				<xs:sequence>
					<xs:element
						xmlns:q2="http://schemas.datacontract.org/2004/07/RxAssystLib.Codes"
						minOccurs="0" name="Type" type="q2:ErrorCodes" />
					<xs:element
						xmlns:q3="http://schemas.datacontract.org/2004/07/RxAssystLib.Contracts.Data"
						minOccurs="0" name="UserToken" nillable="true" type="q3:UserToken" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>